@charset "UTF-8";
/*listas*/
/*mapas*/
/*EXTEND*/
.tarjeta-base, .contenedor_productos_lista .productos_lista .productos_lista_tarjeta {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 20px; }

* {
  /*reseteo de margenes y padding */
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFC300; }

/* SECCION NUEVOS LANZAMIENTOS */
/* SECCION DESTACADOS */
/* IFRAME */
.hero {
  height: 350px;
  background-image: url("../img/banner3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Nerko One', cursive;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px; }
  .hero .hero_anuncio {
    font-size: 60px;
    margin-top: 5px;
    margin-left: 5px;
    color: #FFC300; }
    .hero .hero_anuncio:hover {
      color: #997500; }
    @media (max-width: 430px) {
      .hero .hero_anuncio {
        font-size: 50px; } }

/*----------------------------*/
/* SECCION NUEVOS LANZAMIENTOS */
/*----------------------------*/
#nuevos_lanzamientos h2 {
  color: white;
  font-weight: lighter;
  font-size: 30px;
  text-align: center;
  margin: 10px;
  background-color: #d8a704; }
  @media (max-width: 560px) {
    #nuevos_lanzamientos h2 {
      font-size: 20px; } }

#nuevos_lanzamientos .contenedor-nuevos-lanzamientos {
  text-align: center;
  white-space: normal;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px; }
  #nuevos_lanzamientos .contenedor-nuevos-lanzamientos div {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30%;
    margin: 0 1% 2% 0;
    text-align: center;
    overflow: hidden; }
    #nuevos_lanzamientos .contenedor-nuevos-lanzamientos div h3 {
      font-size: 25px;
      font-weight: bold;
      color: white; }
    #nuevos_lanzamientos .contenedor-nuevos-lanzamientos div img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      margin: 0 auto;
      border-radius: 10%; }
    #nuevos_lanzamientos .contenedor-nuevos-lanzamientos div p {
      font-size: 14px;
      margin-top: 10px;
      padding: 5px; }

@media (max-width: 1024px) {
  #nuevos_lanzamientos .contenedor-nuevos-lanzamientos div {
    width: 45%; } }

@media (max-width: 768px) {
  #nuevos_lanzamientos .contenedor-nuevos-lanzamientos div {
    width: 80%; } }

/*----------------------------*/
/* SECCION DESTACADOS */
/*----------------------------*/
#seccion_destacados {
  text-align: center;
  white-space: normal; }
  #seccion_destacados h2 {
    color: white;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    background-color: #d8a704; }
    @media (max-width: 560px) {
      #seccion_destacados h2 {
        font-size: 20px; } }
  #seccion_destacados .destacados {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto; }
    #seccion_destacados .destacados .tarjeta_producto_destacado {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10%;
      text-align: center;
      padding: 20px;
      width: 30%;
      height: 350px;
      margin: 20px;
      box-sizing: border-box; }
      #seccion_destacados .destacados .tarjeta_producto_destacado img {
        width: 100%;
        height: 200px;
        object-fit: contain;
        margin-bottom: 10px; }
      #seccion_destacados .destacados .tarjeta_producto_destacado .tarjeta_producto_nombre {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px; }
      #seccion_destacados .destacados .tarjeta_producto_destacado .tarjeta_producto_marca {
        font-size: 14px;
        color: #555;
        margin-top: 5px; }
      #seccion_destacados .destacados .tarjeta_producto_destacado .tarjeta_producto_precio {
        font-size: 20px;
        color: #d32f2f;
        margin-top: 10px;
        font-weight: bold; }
  @media (max-width: 1024px) {
    #seccion_destacados .destacados .tarjeta_producto_destacado {
      width: 45%; } }
  @media (max-width: 768px) {
    #seccion_destacados .destacados .tarjeta_producto_destacado {
      width: 80%; } }

#section-carrousel {
  background-color: #FFC300;
  align-items: center; }
  #section-carrousel h2 {
    color: white;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    background-color: #d8a704; }
    @media (max-width: 560px) {
      #section-carrousel h2 {
        font-size: 20px; } }
  #section-carrousel #carouselExampleFade {
    padding-left: 20%;
    padding-right: 20%; }
    #section-carrousel #carouselExampleFade .carousel-item img {
      width: 80%;
      height: auto;
      /* Altura del carrusel */
      max-height: 250px;
      object-fit: contain;
      /* Para que la imagen se ajuste al tamaño sin distorsionarse */ }
    @media (max-width: 768px) {
      #section-carrousel #carouselExampleFade {
        padding-left: 10%;
        padding-right: 10%;
        margin: 5px; } }

/*----------------------------*/
/* IFRAME */
/*----------------------------*/
.iframe-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px auto;
  padding: 20px; }
  .iframe-contenedor .iframe-titulo {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center; }
  .iframe-contenedor iframe {
    width: 80%;
    height: auto;
    aspect-ratio: 16 / 9; }

/*----------------------------*/
/*----------HEADER -----------*/
/*----------------------------*/
header {
  height: 65px;
  padding: 10px;
  margin: 5px 20px 20px 10px;
  vertical-align: middle;
  /*aca va lo eleiminadao */
  /*    */ }
  header .logo_header {
    height: 60px;
    width: 160px;
    display: inline-block; }
  header .btn-outline-success {
    background-color: white;
    color: #FFC300;
    border-color: #FFC300; }
    header .btn-outline-success:hover {
      background-color: #ce9e02;
      color: white;
      border-color: #FFC300; }
  header .navbar {
    background-color: inherit !important;
    height: 60px !important;
    padding: 10px !important; }
    header .navbar .nav-item .nav-link .bi-person-fill {
      font-size: 1.5rem; }

@media (max-width: 992px) {
  .btn {
    height: 30px;
    font-size: 12px; }
  .navbar-collapse {
    background-color: #FFC300;
    position: absolute;
    right: 0;
    top: 100%;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0 10px 10px 10px; }
    .navbar-collapse .navbar-nav {
      width: max-content;
      background-color: #FFC300; }
      .navbar-collapse .navbar-nav .nav-link {
        padding: 0px 0;
        line-height: 1.5;
        white-space: nowrap; } }

/*!-------------------------*/
/*!---------GUITARRA FENDER ---*/
/*!-------------------------*/
#producto {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fcf3cf;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; }
  #producto h1,
  #producto h2,
  #producto h3 {
    margin-bottom: 10px;
    color: #333; }
  #producto .contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
    text-align: left; }
    #producto .contenido .imagen-principal img {
      width: 100%;
      height: auto;
      border-radius: 10px; }
    #producto .contenido .descripcion {
      box-sizing: border-box; }
      #producto .contenido .descripcion ul {
        margin-top: 10px; }
  #producto .galeria {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px; }
    #producto .galeria img {
      width: 100%;
      border-radius: 10px;
      object-fit: cover; }
  @media (max-width: 500px) {
    #producto .contenido {
      grid-template-columns: 1fr; }
      #producto .contenido .imagen-principal {
        width: 75%;
        margin: 0 auto; }
        #producto .contenido .imagen-principal img {
          width: 100%; }
      #producto .contenido .descripcion {
        width: 100%; } }

/*!-------------------------*/
/*!---------PRODUCTOS----------*/
/*!----PAGINAS INTRUMENTOS , SONIDO Y PINTURA ---------------------*/
/*!----TODAS USAN LAS MISMAS CLASES ---------------------*/
/* General */
.contenedor_productos_lista {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }
  .contenedor_productos_lista h1 {
    text-align: center;
    margin-bottom: 30px;
    color: white; }
  .contenedor_productos_lista .productos_lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Por defecto 3 columnas */
    gap: 20px;
    /* Responsivo */ }
    @media (max-width: 1024px) {
      .contenedor_productos_lista .productos_lista {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas hasta 1024px */ } }
    @media (max-width: 768px) {
      .contenedor_productos_lista .productos_lista {
        grid-template-columns: repeat(1, 1fr);
        /* 1 columna hasta 768px */ } }
    .contenedor_productos_lista .productos_lista .productos_lista_tarjeta h2 {
      font-size: 18px;
      margin-bottom: 5px;
      text-transform: uppercase; }
    .contenedor_productos_lista .productos_lista .productos_lista_tarjeta h3 {
      font-size: 16px;
      margin-bottom: 10px;
      color: #666; }
    .contenedor_productos_lista .productos_lista .productos_lista_tarjeta a img {
      width: 100%;
      height: auto;
      object-fit: contain;
      display: block;
      margin-bottom: 10px; }
    .contenedor_productos_lista .productos_lista .productos_lista_tarjeta p {
      font-size: 14px;
      line-height: 1.5;
      margin-top: auto;
      /* Mantiene el texto alineado al final */ }

/*!-------------------------*/
/*!---------HISTORIAS-------*/
/*!-------------------------*/
.historia_container {
  width: 80%;
  margin: 20px auto; }
  .historia_container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #fff; }
  .historia_container .historia {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
    flex-direction: row; }
    @media (max-width: 768px) {
      .historia_container .historia {
        flex-direction: column;
        text-align: center; } }
    .historia_container .historia .historia_imagen {
      flex: 1; }
      .historia_container .historia .historia_imagen img {
        width: 90%;
        margin-bottom: 20px;
        border-radius: 8px; }
    .historia_container .historia .historia_texto {
      flex: 2; }
      .historia_container .historia .historia_texto h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #37474f; }
      .historia_container .historia .historia_texto p {
        font-size: 16px;
        line-height: 1.6;
        color: #000000; }

/*
 TERMINOS 
*/
.terminos-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centra horizontalmente */
  width: 80%;
  /* Define el ancho máximo */
  margin: 0 auto;
  /* Centra el contenedor */
  background-color: whitesmoke;
  padding: 40px;
  border-radius: 10px;
  margin-top: 30px; }
  .terminos-contenedor h1 {
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
    color: #333333; }
  .terminos-contenedor p {
    font-size: 14px;
    text-align: justify;
    margin-top: 20px;
    color: #000000; }
  .terminos-contenedor div {
    width: 100%; }
    .terminos-contenedor div h2 {
      font-size: 18px;
      text-align: center;
      text-decoration: underline;
      color: #666666; }
    .terminos-contenedor div p {
      font-size: 14px;
      text-align: justify;
      margin-top: 20px;
      color: #000000; }

/*!-------------------------*/
/*!---------NOSOTROS--------*/
/*!-------------------------*/
.nosotros_container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px; }
  .nosotros_container .nosotros_titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    color: #333; }
  .nosotros_container .nosotros_contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px; }
    .nosotros_container .nosotros_contenido .nosotros_descripcion {
      font-size: 16px;
      line-height: 1.6;
      color: #555;
      text-align: justify; }
    .nosotros_container .nosotros_contenido .nosotros_equipo {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .nosotros_container .nosotros_contenido .nosotros_equipo h2 {
        margin-bottom: 15px;
        font-size: 24px;
        color: #333; }
      .nosotros_container .nosotros_contenido .nosotros_equipo .nosotros_equipo_img {
        width: 100%;
        max-width: 400px;
        height: auto;
        border: 1px solid #ccc;
        padding: 5px;
        background-color: #fff; }

.contacto_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /*max-width: 400px;
    width: 100%;*/
  width: 80%; }
  .contacto_container form {
    width: 70%;
    margin: 20px; }
  .contacto_container h1,
  .contacto_container p {
    text-align: center; }
  .contacto_container .contacto_input_group {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column; }
    .contacto_container .contacto_input_group label {
      font-weight: bold;
      margin-bottom: 5px; }
    .contacto_container .contacto_input_group input,
    .contacto_container .contacto_input_group select,
    .contacto_container .contacto_input_group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #f9f9f9;
      font-size: 14px; }
    .contacto_container .contacto_input_group textarea {
      resize: none; }
    .contacto_container .contacto_input_group button {
      background-color: #ffc300;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease; }
      .contacto_container .contacto_input_group button:hover {
        background-color: #997500; }

/*!-------------------------*/
/*!---------REGISTRO--------*/
/*!-------------------------*/
.registro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; }
  .registro .registro_container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative; }
    .registro .registro_container h2 {
      text-align: center;
      margin-bottom: 20px; }
    .registro .registro_container .registro_tipo {
      display: flex;
      justify-content: center;
      margin-bottom: 20px; }
      .registro .registro_container .registro_tipo label {
        margin-right: 20px; }
    .registro .registro_container form .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px; }
      .registro .registro_container form .form-group label {
        margin-bottom: 5px; }
      .registro .registro_container form .form-group input {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px; }
    .registro .registro_container form button {
      width: 100%;
      background-color: #ffc300;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease; }
      .registro .registro_container form button:hover {
        background-color: #997500; }
    .registro .registro_container .recuperar-password {
      text-align: center;
      margin-top: 20px; }
      .registro .registro_container .recuperar-password a {
        color: #007bff;
        text-decoration: none; }
        .registro .registro_container .recuperar-password a:hover {
          text-decoration: underline; }
    .registro .registro_container .volver-home-button {
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: block;
      width: 35px;
      height: 35px; }
      .registro .registro_container .volver-home-button img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

/*----------------------------*/
/*---------- FOOTER -----------*/
/*----------------------------*/
/* Variables */
/* Footer General */
/*----------------------------*/
/*---------- FOOTER -----------*/
/*----------------------------*/
footer {
  height: auto;
  color: #fff;
  padding: 20px 10px;
  width: 100%;
  box-sizing: border-box; }
  footer .center-line {
    border-top: 1px solid #2c2b2b;
    width: 100%;
    margin: 5px 0; }
  footer .footer-contenedor {
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    /* Diseño responsivo: columna a partir de 750px */ }
    @media (max-width: 750px) {
      footer .footer-contenedor {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 0; } }
    footer .footer-contenedor .footer-izquerda,
    footer .footer-contenedor .footer-centro,
    footer .footer-contenedor .footer-derecha {
      width: 30%;
      height: auto;
      margin-bottom: 10px; }
      @media (max-width: 750px) {
        footer .footer-contenedor .footer-izquerda,
        footer .footer-contenedor .footer-centro,
        footer .footer-contenedor .footer-derecha {
          width: 100%; } }
    footer .footer-contenedor .footer-izquerda {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      @media (max-width: 750px) {
        footer .footer-contenedor .footer-izquerda {
          width: 100%;
          margin-bottom: 10px;
          align-items: center; } }
      footer .footer-contenedor .footer-izquerda .footer-logo img {
        width: 160px;
        margin: 10px 5px; }
      footer .footer-contenedor .footer-izquerda .footer-redes {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        padding-top: 10px; }
        footer .footer-contenedor .footer-izquerda .footer-redes img {
          width: 35px;
          margin: 0 10px;
          transition: transform 0.3s ease; }
          footer .footer-contenedor .footer-izquerda .footer-redes img:hover {
            transform: scale(1.5); }
    footer .footer-contenedor .footer-centro {
      display: flex;
      flex-direction: column;
      align-items: center; }
      footer .footer-contenedor .footer-centro a {
        text-decoration: none;
        color: #fff;
        font-size: 0.9em;
        margin: 5px 0; }
        footer .footer-contenedor .footer-centro a:hover {
          font-weight: bold; }
    footer .footer-contenedor .footer-derecha {
      display: flex;
      justify-content: space-around; }
      footer .footer-contenedor .footer-derecha .footer-contacto,
      footer .footer-contenedor .footer-derecha .footer-mapa {
        width: 45%;
        text-align: center; }
        footer .footer-contenedor .footer-derecha .footer-contacto p, footer .footer-contenedor .footer-derecha .footer-contacto a,
        footer .footer-contenedor .footer-derecha .footer-mapa p,
        footer .footer-contenedor .footer-derecha .footer-mapa a {
          font-size: 0.9em; }
      footer .footer-contenedor .footer-derecha .footer-mapa iframe {
        margin-left: 10px;
        width: 80%; }

.eventos h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff; }

.eventos .contenedor-eventos {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  align-items: stretch;
  gap: 10px; }
  .eventos .contenedor-eventos .contenedor-fechas {
    background: linear-gradient(90deg, #fa0505 0%, #fe8401 52%);
    width: 25%;
    /*max-width: 80px;*/
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .eventos .contenedor-eventos .contenedor-fechas p {
      font-family: 'Nerko One';
      color: white;
      font-size: 25px;
      margin: 4px 0; }
  .eventos .contenedor-eventos .contenedor-espectaculo {
    background: linear-gradient(90deg, #fe8401 0%, #fea201 52%, #fe9e01 98%);
    flex-grow: 1;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    align-items: center; }
    .eventos .contenedor-eventos .contenedor-espectaculo img {
      width: 25%;
      max-width: 120px;
      margin-right: 10px;
      object-fit: cover;
      border-radius: 10px; }
    .eventos .contenedor-eventos .contenedor-espectaculo .contenedor-espectaculo-detalle {
      flex-grow: 1;
      padding: 10px; }
      .eventos .contenedor-eventos .contenedor-espectaculo .contenedor-espectaculo-detalle .contenedor-banda,
      .eventos .contenedor-eventos .contenedor-espectaculo .contenedor-espectaculo-detalle .contenedor-banda-descripcion {
        background-color: whitesmoke;
        margin: 5px 0;
        padding: 8px;
        border-radius: 10px; }
      .eventos .contenedor-eventos .contenedor-espectaculo .contenedor-espectaculo-detalle .contenedor-banda p:first-of-type {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: bold;
        color: black;
        line-height: 1; }
      .eventos .contenedor-eventos .contenedor-espectaculo .contenedor-espectaculo-detalle .contenedor-banda p:last-of-type {
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: grey;
        line-height: 1; }
      .eventos .contenedor-eventos .contenedor-espectaculo .contenedor-espectaculo-detalle .contenedor-banda-descripcion {
        font-size: 14px;
        line-height: 1.4;
        color: black; }
  @media (min-width: 1440px) {
    .eventos .contenedor-eventos .contenedor-fechas {
      width: 20%; }
    .eventos .contenedor-eventos .contenedor-espectaculo img {
      width: 20%; } }
  @media (max-width: 915px) {
    .eventos .contenedor-eventos .contenedor-fechas p {
      font-size: 20px; } }
  @media (max-width: 830px) {
    .eventos .contenedor-eventos .contenedor-fechas p {
      font-size: 16px; } }
  @media (max-width: 768px) {
    .eventos .contenedor-eventos {
      flex-direction: column;
      align-items: center; }
      .eventos .contenedor-eventos .contenedor-fechas,
      .eventos .contenedor-eventos .contenedor-espectaculo {
        width: 100%;
        border-radius: 20px;
        margin: 5px 0;
        max-width: none; }
      .eventos .contenedor-eventos .contenedor-fechas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px; }
        .eventos .contenedor-eventos .contenedor-fechas p {
          font-size: 30px;
          margin: 0;
          line-height: 0.5; }
      .eventos .contenedor-eventos .contenedor-espectaculo img {
        width: 100%;
        max-width: 120px;
        margin: 0 auto; } }
  @media (max-width: 600px) {
    .eventos .contenedor-eventos .contenedor-espectaculo {
      margin: 10px auto;
      padding: 10px;
      flex-direction: column; } }
  @media (max-width: 350px) {
    .eventos .contenedor-eventos .contenedor-fechas p {
      font-size: 25px; }
    .eventos .contenedor-eventos .contenedor-espectaculo img {
      width: 80px; }
    .eventos .contenedor-eventos .contenedor-espectaculo-detalle .contenedor-banda p {
      font-size: 14px; }
    .eventos .contenedor-eventos .contenedor-espectaculo-detalle .contenedor-banda-descripcion {
      font-size: 10px; } }
