* {
    /*reseteo de margenes y padding */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFC300 ; 
}

/*----------------------------*/
/*----------HEADER -----------*/
/*----------------------------*/
header {
    height: 60px;
    padding: 5px;
    margin: 5px 20px 20px  10px;
    vertical-align: middle;
}

.logo_header {
    height: 60px;
    width: 160px;
    display: inline-block;
}

nav {
    display: inline-block;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 80px; 
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}


header div {
    display: inline-block;
    margin-left: 20px;
    margin-top: 15px;

}

header div img{
    height: 20px;
    margin-left: 10px;
}

/* ---- NAVBAR BOOTSTRAP ----- */
.btn-outline-success {
    background-color: white ; /* Cambia el color de fondo cuando pases el mouse */
    color: #FFC300 ; /* Asegura que el color del texto sea visible en hover */
    border-color: #FFC300 ; /* Cambia el color del borde en hover */
}

.btn-outline-success:hover {
    background-color:#ce9e02  ; /* Cambia el color de fondo */
    color: white ; /* Cambia el color del texto */
    border-color: #FFC300 ; /* Cambia el color del borde */
}

.navbar {
    background-color: inherit !important; /* Hereda el color de fondo del body */
    height: 60px !important; /* Ajustar la altura del nav */
    padding: 0 !important; /* Eliminar el padding para reducir el alto */
}

.nav-item .nav-link .bi-person-fill {
    font-size: 1.5rem; /* Aumenta el tamaño del icono */
}
/* Fin navbar de bootstrap */

/*!-------------------------*/
/*!---------MAIN -----------*/
/*!-------------------------*/
.hero {
    height: 350px;
    background-image: url("../img/banner3.jpg") ;
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    font-family: 'Nerko One', cursive;
    text-align:left;
}

.hero_anuncio {
    font-size: 60px;
    margin-top: 5px;
    margin-left: 5px;
    color:#FFC300 ; 

}

.hero_anuncio:hover {
    font-size: 60px;
    margin-top: 5px;
    margin-left: 5px;
    color: #beae4f ; 

}

/*----------------------------  */
/* SECCION NUEVOS LANZAMIENTOS */
/*-----------------------------*/


#nuevos_lanzamientos  h2{
    color: white;
    font-weight:lighter;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    background-color: #d8a704 ;
}
.contenedor-nuevos-lanzamientos {
    text-align: center;
    white-space: normal; 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 

}

.contenedor-nuevos-lanzamientos div {
    display: flex;
    flex-direction: column;
    height: auto; 
    width: 30%;
    margin: 0 1% 2% 0;
    vertical-align: top;
    text-align: center;
    overflow: hidden; 

}
.contenedor-nuevos-lanzamientos div h3 {
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.contenedor-nuevos-lanzamientos div img {
    max-width: 100%;
    height: auto;  
    object-fit: cover; 
    margin: 0 auto;
    border-radius: 10%;
}

.contenedor-nuevos-lanzamientos div p {
    font-size: 14px;
    margin-top: 10px; 
    padding: 5px; 
    width: 100%;
}

/*----------------------------  */
/* SECCION DESTACADOS          */
/*-----------------------------*/

#seccion_destacados {
    text-align: center;
    white-space: normal;
}

#seccion_destacados h2 {
    color: white;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    background-color: #d8a704;
}

#seccion_destacados h3 {
    color: #FFC300;
    font-weight: lighter;
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

.destacados {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    width: 100%;
    margin: 0 auto;
}

.tarjeta_producto_destacado {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    width: 30%; /* Fijar el ancho para cada tarjeta */
    height: 350px; /* Fijar altura para uniformar las tarjetas */
    margin: 10px; /* Espaciado entre tarjetas */
    box-sizing: border-box; /* Incluye el padding y el borde dentro del tamaño */
}

.tarjeta_producto_destacado img {
    width: 100%;
    height: 200px; /* Altura fija para las imágenes */
    object-fit: contain; /* Mantiene las proporciones sin deformar */
    display: block;
    margin-bottom: 10px;
}

.tarjeta_producto_nombre {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.tarjeta_producto_marca {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.tarjeta_producto_precio {
    font-size: 20px;
    color: #d32f2f;
    margin-top: 10px;
    font-weight: bold;
}


/*---------------------------- */
/*         IFRAME              */
/*-----------------------------*/

.iframe-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%; /* Limita el ancho al 100% del contenedor */
    margin: 0 auto;
    padding: 10px;
}

.iframe-titulo {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

.iframe-contenedor iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Mantiene la relación de aspecto */
}


/*!-------------------------*/
/*!---------FOOTER----------*/
/*!-------------------------*/
footer
{
    height: 140px;
    color: #fff;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

}
.center-line {

    border-top: 1px solid #2c2b2b;
    width: 50%;
    margin: 5px auto
}


.footer-contenedor {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.footer-izquerda {
    width: 30%;
    height: 100px;
    display: flex;
    flex-direction: column;

}

.footer-logo {
    
    width: 100%;
    height: 50px;

}
.footer-logo img {
    width: 160px;
    margin: 10px 5px;
}

.footer-redes {
    width: 100%;
    height: 50px;
    display: flex;
    padding-top: 10px;

}
.footer-redes img {
    width: 35px;
    margin: 0 10px;
    transition: transform 0.3s ease; /* Transición suave al escalar */

}
.footer-redes img:hover  {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen en un 10% */
  }

.footer-centro{
    width: 30%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.footer-derecha {
    width: 30%;
    height: 100px;
    display: flex;
}
.footer-contacto{
    width: 70%;
    margin: 0 5px;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 
    height: 100%; 
    padding-top: 5px; 
    text-align: center;
}
.footer-mapa{
    margin: 5px 5px;
    opacity: 0.7; /* Ajusta la opacidad (1 es completamente opaco, 0 es completamente transparente) */
    transition: opacity 0.3s ease; /* Añade una transición suave al cambiar la opacidad */
 }
.footer-mapa iframe{
    width: 80%;
    margin: 5px;
}
.footer-centro a,
.footer-contacto a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}
.footer-centro a:hover {
    font-weight: bold; 
}

.footer-iframe {
    opacity: 0.7; /* Ajusta la opacidad (1 es completamente opaco, 0 es completamente transparente) */
    transition: opacity 0.3s ease; /* Añade una transición suave al cambiar la opacidad */
  }

/*!-------------------------*/
/*!---------INSTRUMENTOS ----*/
/*!-------------------------*/


.contenedor_productos_lista {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor_productos_lista h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: lighter;
    color: white;
}

.productos_lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}



.productos_lista_tarjeta {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.productos_lista_tarjeta h2 {
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.productos_lista_tarjeta h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}

.productos_lista_tarjeta img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin-bottom: 10px;
}

.productos_lista_tarjeta p {
    font-size: 14px;
    line-height: 1.5;
    margin-top: auto; /* Mantiene el texto alineado al final */
}

/*!-------------------------*/
/*!---------GUITARRA FENDER ---*/
/*!-------------------------*/

#producto {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fcf3cf;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#producto h1, #producto h2, #producto h3 {
    margin-bottom: 10px;
    color: #333;
}

.contenido {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas iguales para imagen y descripción */
    gap: 20px;
    align-items: start;
    text-align: left;
}

.imagen-principal img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.descripcion {
    box-sizing: border-box;
}

.descripcion ul {
    margin-top: 10px;
}

.galeria {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Grid con columnas automáticas */
    gap: 10px; /* Separación entre imágenes */
}

.galeria img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}


/*!-------------------------*/
/*!---------REGISTRO--------*/
/*!-------------------------*/
.registro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.registro_container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
}

.registro_container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.registro_tipo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.registro_tipo label {
    margin-right: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registro_container form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.registro_container form button:hover {
    background-color: #45a049;
}

.registro_container .recuperar-password {
    text-align: center;
    margin-top: 20px;
}

.registro_container .recuperar-password a {
    color: #007BFF;
    text-decoration: none;
}

.registro_container .recuperar-password a:hover {
    text-decoration: underline;
}

.volver-home-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    width: 35px;
    height: 35px;
}

.volver-home-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*!-------------------------*/
/*!---------HISTORIAS-------*/
/*!-------------------------*/
.historia_container {
    width: 80%;
    margin: 20px auto;
}

.historia_container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: lighter;
    color: white;
}

.historia {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
    flex-direction: row; 

}

.historia_imagen {
    flex: 1;
}

.historia_imagen img {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 8px;
}

.historia_texto {
    flex: 2;
}

.historia_texto h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.historia_texto p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

/*!-------------------------*/
/*!---------CONTACTO--------*/
/*!-------------------------*/
.contacto_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.contacto_container h1, .contacto_container p {
    text-align: center;
}

.contacto_input_group {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.contacto_input_group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contacto_input_group input, 
.contacto_input_group select, 
.contacto_input_group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 14px;
}

.contacto_input_group textarea {
    resize: none;
}

.contacto_input_group button {
    padding: 10px;
    background-color: #FFC300;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contacto_input_group button:hover {
    background-color: #0056b3;
}


/*!-------------------------*/
/*!---------NOSOTROS--------*/
/*!-------------------------*/
.nosotros_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.nosotros_titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    color: #333;
}

.nosotros_contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.nosotros_descripcion {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    text-align: justify;
}

.nosotros_equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotros_equipo h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
}

.nosotros_equipo_img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #fff;
}

#carouselExampleFade {
    padding-left: 20%;
    padding-right: 20%;


    }

  #carouselExampleFade .carousel-item img {
    width: 600px;
    height: 300px; /* Altura del carrusel */
    object-fit: cover; /* Para que la imagen se ajuste al tamaño sin distorsionarse */
  }

#section-carrousel{
    background-color: #FFC300 ;

      align-items: center;

}
#section-carrousel h2 {
    color: white;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    background-color: #d8a704 ;
}

/*
 TERMINOS 
*/
.terminos-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    width: 80%; /* Define el ancho máximo */
    margin: 0 auto; /* Centra el contenedor */
    background-color:whitesmoke;
    padding: 40px;
    border-radius: 10px;
    margin-top: 30px;
}
.terminos-contenedor h1 {
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;

}
.terminos-contenedor div {
    width: 100%; 
}
.terminos-contenedor div h2 {
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}

.terminos-contenedor div p {
    font-size: 14px;
    text-align: justify;
    margin-top: 20px;
}

/*---------------------------------------*/
/*---------------------------------------*/
/*           MEDIA QUERIES               */
/*---------------------------------------*/
/*---------------------------------------*/

/*MEDIA QUERY SECTION NUEVOS LANZAMIENTOS */
@media (max-width: 1024px) {
    /*NUEVOS LANZAMIENTOS */
    .contenedor-nuevos-lanzamientos div {
        width: 45%; 
    }
    #nuevos_lanzamientos h2 {
        font-size: 26px; 
    }
    .contenedor-nuevos-lanzamientos div h3 {
        font-size: 22px; 
    }
    .contenedor-nuevos-lanzamientos div img {
        height: 250px; 
    }
    /*PRODUCTOS DESTACADOS */
    .tarjeta_producto_destacado {
        width: 45%; 
        height: auto; 
        margin: 10px;
    }
    .tarjeta_producto_destacado img {
        height: 180px; /* Ajustar el tamaño de las imágenes en tablets */
    }
    .tarjeta_producto_nombre {
        font-size: 16px; /* Reducir tamaño del nombre del producto */
    }
    .tarjeta_producto_precio {
        font-size: 18px; /* Reducir tamaño del precio */
    }
    /*CARROUSEL */
    #carouselExampleFade {
        padding-left: 10%;
        padding-right: 10%;
    }

    #carouselExampleFade .carousel-item img {
        width: 500px; /* Reducir el ancho de las imágenes */
        height: 250px; /* Ajustar la altura en tablet */
    }

    #section-carrousel h2 {
        font-size: 25px; /* Reducir tamaño del título en tablet */
    }

    /*HISTORIAS*/
    .historia {
        flex-direction: column-reverse; /* Con esto cambio a columna y pongo el texto arriba y las imágenes abajo */
        gap: 10px;
    }

    .historia_texto h2 {
        font-size: 22px;
    }

    .historia_texto p {
        font-size: 15px;
    }

    .historia_imagen img {
        width: 100%; 
    }

    /*CONTACTO*/
    .contacto_container {
        max-width: 800px;
    }

    .contacto_container form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .contacto_input_group {
        flex: 1 1 calc(50% - 20px);
    }

    .contacto_input_group textarea, 
    .contacto_input_group button {
        flex: 0 1 50%;
    }
    .iframe-contenedor {
        max-width: 60%; /* En pantallas más grandes (PC), ocupa el 60% del contenedor */
    }

    /*NOSOTROS*/ 
    .nosotros_container {
        padding: 40px;
    }

    .nosotros_titulo {
        font-size: 36px;
    }

    .nosotros_descripcion {
        font-size: 18px;
    }
    .contenido {
        grid-template-columns: 1fr; /* Una sola columna en tablet */
    }

    .galeria {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Imágenes más chicas en tablet */
    }
}


@media (max-width: 992px) {
    /* Acicar form  */
    form.d-flex {
      width: 100%;
      max-width: 200px;
      margin-right: 0;
    }
  
    .form-control {
      height: 30px;
      font-size: 12px;
    }
  
    .btn {
      height: 30px;
      font-size: 12px;
    }
    .navbar-collapse {
      background-color: #FFC300;
      position: absolute;
      right: 0;
      top: 100%;
      width: auto; /* Ancho de opciones */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* sombra */
      padding: 0 10px 10px 10px;
    }

    .navbar-nav {
      width: max-content; /* Ajustar el ancho al contenido */
      background-color: #FFC300;
    }

    .navbar-collapse .nav-link {
        padding: 0px 0; /* Ajusta el padding vertical */
        line-height: 1.5; /* Ajusta la altura de línea para reducir el espacio entre líneas */
        white-space: nowrap; /*No saltar */

    }

  }

  @media (max-width: 900px) {
    .productos_lista {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas por fila en pantallas medianas */
    }
}




@media (max-width: 768px) {
    .contenedor-nuevos-lanzamientos {
        flex-direction: column; /* Cambiar a una columna los elementos */
        align-items: center; /* Centrar los elementos */
    }
    .contenedor-nuevos-lanzamientos div {
        width: 90%; 
    }
    #nuevos_lanzamientos h2 {
        font-size: 22px; /* Reducir aún más el tamaño del título */
    }
    .contenedor-nuevos-lanzamientos div h3 {
        font-size: 20px; /* Reducir el tamaño del subtítulo */
    }
    .contenedor-nuevos-lanzamientos div img {
        max-width: 100%; /* Asegura que las imágenes no se ensanchen más allá de su contenedor */
        height: auto; /* Mantener la proporción de altura automáticamente */
        width: auto; /* Ajustar el ancho automáticamente manteniendo la proporción */
    }
    .contenedor-nuevos-lanzamientos div p {
        font-size: 12px; /* Reducir el tamaño del texto en móviles */
    }

    .destacados {
        flex-direction: column; /* Cambiar las tarjetas a formato vertical */
        align-items: center; 
    }
    .tarjeta_producto_destacado {
        width: 90%; /* Usar casi todo el ancho disponible en móviles */
        height: auto; 
        margin: 10px 0; /* Ajustar el margen */
    }
    .tarjeta_producto_destacado img {
        height: 150px; 
    }
    .tarjeta_producto_nombre {
        font-size: 14px; 
    }
    .tarjeta_producto_marca {
        font-size: 12px; /* Reducir el tamaño de la marca */
    }
    .tarjeta_producto_precio {
        font-size: 16px; /* Reducir el tamaño del precio */
    }

    #carouselExampleFade {
        padding-left: 5%;
        padding-right: 5%;
    }

    #carouselExampleFade .carousel-item img {
        width: 100%; /* Ancho completo para móviles */
        height: auto; 
        object-fit: contain; /* Asegura que las imágenes no se recorten en móviles */
    }

    #section-carrousel h2 {
        font-size: 20px; 
        margin: 5px;
    }

    .historia_container {
        width: 95%; 
    }

    .historia {
        flex-direction: column-reverse; 
        gap: 10px;
    }

    .historia_texto h2 {
        font-size: 20px; 
    }

    .historia_texto p {
        font-size: 14px; 
    }

    .historia_imagen img {
        width: 100%; 
    }

    .contacto_container {
        max-width: 600px;
    }

    .iframe-contenedor {
        max-width: 80%; 
    }

    .nosotros_contenido {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .nosotros_descripcion {
        flex: 2;
    }

    .nosotros_equipo {
        flex: 1;
        margin-top: 0;
    }

    .contenido {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }

    .galeria {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Imágenes más pequeñas en pantallas pequeñas */
    }

    #producto {
        padding: 15px;
    }

    .registro_container {
        max-width: 60%;
    }
}

  /*MEDIA QUERY PARA FOOTER*/
  @media (max-width: 750px) {
    
    .footer-contenedor {
        flex-direction: column;
        align-items: center;
    }
    .footer-derecha {
        margin-top: 10px;
    }
    .footer-mapa{
        display:none;
      }    

    .hero_anuncio {
        font-size: 45px;
      
    }
}

  /*?MEDIA QUERY REGISTRO */
@media (max-width: 600px) {
    .registro_container {
        max-width: 90%;
    }

    .form-group label {
        font-size: 14px;
    }

    .registro_container form button {
        font-size: 14px;
    }
    .productos_lista {
        grid-template-columns: 1fr; /* 1 columna por fila en pantallas chicas */
    }
}
@media (min-width: 600px) and (max-width: 768px) {
    .registro_container {
        max-width: 80%;
    }

    .form-group label {
        font-size: 16px;
    }

    .registro_container form button {
        font-size: 16px;
    }
}


@media (max-width: 550px) {
    .hero_anuncio {
        font-size: 35px;
      
    }
}

@media (max-width: 480px) {
    .galeria {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* Imágenes más pequeñas en móviles */
    }

    #producto {
        padding: 10px;
    }
}










