/*!-------------------------*/
/*!---------GUITARRA FENDER ---*/
/*!-------------------------*/
#producto {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: $fondo-ficha-producto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  
    h1,
    h2,
    h3 {
      margin-bottom: 10px;
      color: #333;
    }
  
    .contenido {
      display: grid;
      grid-template-columns: 1fr 1fr; // 2 columnas iguales para imagen y descripción
      gap: 20px;
      align-items: start;
      text-align: left;
  
      .imagen-principal {
        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
        }
      }
  
      .descripcion {
        box-sizing: border-box;
  
        ul {
          margin-top: 10px;
        }
      }
    }
  
    .galeria {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); // Grid con columnas automáticas
      gap: 10px; // Separación entre imágenes
  
      img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }