/*----------------------------*/
/*---------- FOOTER -----------*/
/*----------------------------*/
/* Variables */
$primary-color: #fff;
$border-color: #2c2b2b;

/* Footer General */
/*----------------------------*/
/*---------- FOOTER -----------*/
/*----------------------------*/
footer {
    height: auto; // Permitir altura dinámica
    color: $primary-color;
    padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;

    .center-line {
        border-top: 1px solid $border-color;
        width: 100%; // Línea centrada al 100% de ancho
        margin: 5px 0;
    }

    .footer-contenedor {
        display: flex;
        justify-content: space-between;
        text-align: left;
        width: 100%;

        /* Diseño responsivo: columna a partir de 750px */
        @media (max-width: 750px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 10px 0;
        }

        .footer-izquerda,
        .footer-centro,
        .footer-derecha {
            width: 30%;
            height: auto;
            margin-bottom: 10px;

            @media (max-width: 750px) {
                width: 100%;
            }
        }

        .footer-izquerda {
            display: flex; // Habilitar flexbox
            flex-direction: column; // Apilar elementos verticalmente
            align-items: center; // Centrar horizontalmente
            text-align: center; // Centrar texto
        
            @media (max-width: 750px) {
                width: 100%;
                margin-bottom: 10px;
                align-items: center; // Asegura que siga centrado en pantallas pequeñas
            }
        
            .footer-logo {
                img {
                    width: 160px; // Mantener el tamaño del logo
                    margin: 10px 5px; // Margen alrededor de la imagen
                }
            }
        
            .footer-redes {
                width: 100%; // Ocupar todo el ancho disponible
                height: auto; // Permitir altura dinámica
                display: flex; // Habilitar flexbox
                justify-content: center; // Centrar las redes
                padding-top: 10px;
        
                img {
                    width: 35px;
                    margin: 0 10px;
                    transition: transform 0.3s ease;
        
                    &:hover {
                        transform: scale(1.5);
                    }
                }
            }
        }

        .footer-centro {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                text-decoration: none;
                color: $primary-color;
                font-size: 0.9em;
                margin: 5px 0;

                &:hover {
                    font-weight: bold;
                }
            }
        }

        .footer-derecha {
            display: flex;
            justify-content: space-around;
            .footer-contacto,
            .footer-mapa {
                width: 45%;
                text-align: center;

                p, a {
                    font-size: 0.9em;
                }
            }

            .footer-mapa iframe {
                margin-left:10px;
                width: 80%;
            }
        }
    }
}
