/*EXTEND*/
.tarjeta-base {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
}